# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

*.[oa]
*~
*.l[oa]
*.deps
*.libs
*Makefile
*Makefile.in
*.DS_Store

# Photometry Toolkit
src/asp/PhotometryTK/phodrg2plate
src/asp/PhotometryTK/phoinitalbedo
src/asp/PhotometryTK/phoinitfile
src/asp/PhotometryTK/phoitalbedo
src/asp/PhotometryTK/phoitdem
src/asp/PhotometryTK/phoiterror
src/asp/PhotometryTK/phoitreflect
src/asp/PhotometryTK/phoittime
src/asp/PhotometryTK/ptk_server
src/asp/PhotometryTK/mipmap
src/asp/PhotometryTK/phoinitet
src/asp/PhotometryTK/tests/TestProjectFileIO
src/asp/PhotometryTK/tests/TestProjectService
src/asp/PhotometryTK/tests/TestAlbedoAccumulators
src/asp/PhotometryTK/tests/TestTimeAccumulators
src/asp/PhotometryTK/tests/TestErrorAccumulators
src/asp/PhotometryTK/tests/*.ptk*
