# Generally ignorable files.
*.[oa]
*~
*.l[oa]
*.deps
*.libs
*Makefile
*Makefile.in
*.DS_Store
*.vect
*.bak
*.bck
*.gcda
*.gcno
*.moc.cc
*.pb.cc
*.pb.h
*#

# Photometry Toolkit
src/asp/PhotometryTK/phodrg2plate
src/asp/PhotometryTK/phoinitalbedo
src/asp/PhotometryTK/phoinitfile
src/asp/PhotometryTK/phoitalbedo
src/asp/PhotometryTK/phoitdem
src/asp/PhotometryTK/phoiterror
src/asp/PhotometryTK/phoitreflect
src/asp/PhotometryTK/phoittime
src/asp/PhotometryTK/ptk_server
src/asp/PhotometryTK/mipmap
src/asp/PhotometryTK/phoinitet
src/asp/PhotometryTK/shadow_mask
src/asp/PhotometryTK/tests/TestProjectFileIO
src/asp/PhotometryTK/tests/TestProjectService
src/asp/PhotometryTK/tests/TestAlbedoAccumulators
src/asp/PhotometryTK/tests/TestTimeAccumulators
src/asp/PhotometryTK/tests/TestErrorAccumulators
src/asp/PhotometryTK/tests/TestFullIteration
src/asp/PhotometryTK/tests/shadow_mask
src/asp/PhotometryTK/tests/*.ptk*
