# Generally ignorable files.
*.[oa]
*~
*.l[oa]
*.deps
*.libs
*Makefile
*Makefile.in
*.DS_Store
*.vect
*.bak
*.bck
*.gcda
*.gcno
*.moc.cc
*.pb.cc
*.pb.h
*.pyc
*#

/.vimrc.local
/.project.root
/vw.tags
/tags
/build
/*.trace
/.gcno.stamp
/.gcda.stamp

# Photometry Toolkit
src/photk/phodrg2plate
src/photk/phoinitalbedo
src/photk/phoinitfile
src/photk/phoitalbedo
src/photk/phoitdem
src/photk/phoiterror
src/photk/phoitreflect
src/photk/phoittime
src/photk/ptk_server
src/photk/mipmap
src/photk/phoinitet
src/photk/shadow_mask
src/photk/tests/TestProjectFileIO
src/photk/tests/TestProjectService
src/photk/tests/TestAlbedoAccumulators
src/photk/tests/TestTimeAccumulators
src/photk/tests/TestErrorAccumulators
src/photk/tests/TestFullIteration
src/photk/tests/shadow_mask
src/photk/tests/*.ptk*
